<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title th:text="#{${T(pt.com.scrumify.helpers.ConstantsHelper).PROPERTY_PROJECT_NAME}}"></title>
</head>
<body>
  <div id="info">
    <th:block th:fragment="list">
      <form class="ui form" id="userstories-form" th:object="${userstory}" method="post">
        <input type="hidden" th:field="*{id}" />
        <div class="fields">
          <div class="field two wide column">
            <h4 class="ui dividing header" th:text="#{${T(pt.com.scrumify.helpers.ConstantsHelper).COMMON_NUMBER}}"></h4>
            <div class="ui ">
              <label th:text="${userstory.number}"></label>
            </div>
          </div>
          <div class="field fourteen wide column">
            <h4 class="ui dividing header" th:text="#{${T(pt.com.scrumify.helpers.ConstantsHelper).MESSAGE_COMMON_NAME}}"></h4>
            <div class="ui dropdown write small icon">
              <label th:text="${userstory.name}" th:fragment="userstoryName" id="userstoryNameUS"></label>
              <th:block sec:authorize="hasAuthority(T(pt.com.scrumify.helpers.ConstantsHelper).ROLE_USERSTORIES_UPDATE)">
                <i th:class="${T(pt.com.scrumify.helpers.ConstantsHelper).ICON_EDIT}" onclick="editCampo('name', 'Name');" th:classappend="${T(pt.com.scrumify.helpers.ConstantsHelper).DEFAULT_ENVIRONMENT_COLOR}"></i>
              </th:block>
            </div>
          </div>
        </div>
        <div class="fields">
          <div class="field three wide column">
            <h4 class="ui dividing header" th:text="#{${T(pt.com.scrumify.helpers.ConstantsHelper).MESSAGE_COMMON_STATUS}}"></h4>
            <div class="ui labeled input">
              <div class="ui pointing white basic left floated column dropdown write small icon">
                <label th:if="${userstory.status} != null" th:text="${userstory.status.name}"></label>
                <th:block sec:authorize="hasAuthority(T(pt.com.scrumify.helpers.ConstantsHelper).ROLE_USERSTORIES_UPDATE)">
                  <i th:class="${T(pt.com.scrumify.helpers.ConstantsHelper).ICON_EDIT}" th:if="${not #lists.isEmpty(status)}" th:classappend="${T(pt.com.scrumify.helpers.ConstantsHelper).DEFAULT_ENVIRONMENT_COLOR}"></i>
                  <div class="menu">
                    <div class="item" th:each="item : ${status}" th:onclick="'updateState(\'' +${userstory.id} + '\', \'' +${item.id} +'\');'">
                      <input th:field="*{status}" type="hidden" />
                      <th:block th:text="${item.name}" th:value="${item.id}"></th:block>
                    </div>
                  </div>
                </th:block>
              </div>
            </div>
          </div>
          <div class="field three wide column">
            <h4 class="ui dividing header" th:text="#{${T(pt.com.scrumify.helpers.ConstantsHelper).MESSAGE_COMMON_EPIC}}"></h4>
            <div class="ui labeled input">
              <a th:if="${userstory.epic} != null" th:href="@{${T(pt.com.scrumify.helpers.ConstantsHelper).MAPPING_EPICS_UPDATE} + '/' + ${userstory.epic.id}}" th:text="${userstory.epic.number}" data-variation="mini inverted" class="ui mini" th:attr="data-content=${userstory.epic.name}"></a>
              &nbsp;
              <th:block th:if="${not #lists.isEmpty(epics)}" th:insert="common/fragments/elements :: selectablelistwithsearch(${epics}, 'item.name', 'item.number', ${'updateEpic(' + userstory.id + ', '}, 'item.id', ${');'}, 'small write icon', ${T(pt.com.scrumify.helpers.ConstantsHelper).DEFAULT_ENVIRONMENT_COLOR})" />
            </div>
          </div>
          <div class="field three wide column">
            <h4 class="ui dividing header" th:text="#{${T(pt.com.scrumify.helpers.ConstantsHelper).MESSAGE_COMMON_TEAM}}"></h4>
            <div class="ui labeled input">
              <label th:if="${userstory.team} != null" th:text="${userstory.team.name}"></label>
              &nbsp;
              <th:block th:if="${not #lists.isEmpty(teams)}" th:insert="common/fragments/elements :: selectablelistwithsearch(${teams}, 'item.name', 'item.subArea.abbreviation', ${'updateTeam(' + userstory.id + ', '}, 'item.id', ${');'}, 'small write icon', ${T(pt.com.scrumify.helpers.ConstantsHelper).DEFAULT_ENVIRONMENT_COLOR})" />
            </div>
          </div>
          <div class="field two wide column ">
            <h4 class="ui dividing header" th:text="#{${T(pt.com.scrumify.helpers.ConstantsHelper).MESSAGE_COMMON_HOURS}}"></h4>
            <div class="ui">
              <label th:text="${userstory.hours}"></label>
            </div>
          </div>
          <div class="field two wide column">
            <h4 class="ui dividing header" th:text="#{${T(pt.com.scrumify.helpers.ConstantsHelper).MESSAGE_COMMON_STORYPOINTS}}"></h4>
            <div class="ui labeled input">
              <div class="ui pointing white basic left floated column dropdown write small icon">
                <label th:text="${userstory.estimate}"></label>
                <th:block sec:authorize="hasAuthority(T(pt.com.scrumify.helpers.ConstantsHelper).ROLE_USERSTORIES_UPDATE)" th:if="${userstory.estimate == 0}">
                  <i th:class="${T(pt.com.scrumify.helpers.ConstantsHelper).ICON_EDIT}" th:classappend="${T(pt.com.scrumify.helpers.ConstantsHelper).DEFAULT_ENVIRONMENT_COLOR}"></i>
                  <div class="menu">
                    <div class="item" th:each="point : ${storypoints}" th:text="${point}" th:onclick="${userstory.estimate == 0} ? 'updatePoints(\'' +${userstory.id} + '\', \'' + ${point} +'\');'"></div>
                  </div>
                </th:block>
              </div>
            </div>
          </div>
          <div class="field three wide column">
            <h4 class="ui dividing header" th:text="#{${T(pt.com.scrumify.helpers.ConstantsHelper).MESSAGE_COMMON_CREATEDBY}}"></h4>
            <th:block th:replace="common/fragments/elements :: avatar(item=${userstory.createdBy}, date=${userstory.created}, size='mini')" />
          </div>
        </div>
        <div class="fields">
          <div class="field sixteen wide column">
            <div class="ui dividing header">
              <h4 th:text="#{${T(pt.com.scrumify.helpers.ConstantsHelper).MESSAGE_COMMON_DESCRIPTION}}" style="display: inline;"></h4>
              <div class="ui dropdown write small icon" style="display: inline;">
                <th:block sec:authorize="hasAuthority(T(pt.com.scrumify.helpers.ConstantsHelper).ROLE_USERSTORIES_UPDATE)">
                  <i th:class="${T(pt.com.scrumify.helpers.ConstantsHelper).ICON_EDIT}" onclick="editCampo('description', 'Description');" th:classappend="${T(pt.com.scrumify.helpers.ConstantsHelper).DEFAULT_ENVIRONMENT_COLOR}"></i>
                </th:block>
              </div>
            </div>
            <span th:utext="${userstory.description}" th:fragment="description" id="descriptionUS"></span>
          </div>
        </div>
        <br />
        <th:block th:replace="common/fragments/form :: actionbutton(icon1 = ${T(pt.com.scrumify.helpers.ConstantsHelper).ICON_BACK},
                                                                      icon1text = ${T(pt.com.scrumify.helpers.ConstantsHelper).MESSAGE_COMMON_BACK},
                                                                      icon1url = ${T(pt.com.scrumify.helpers.ConstantsHelper).MAPPING_USERSTORIES}
                                                                      )" />
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      </form>
    </th:block>
  </div>
</body>
</html>
