<!DOCTYPE html>
<html lang="en" th:replace="common/masterpage :: masterpage(~{::link}, ~{::page}, ~{::script})" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title th:text="#{${T(pt.com.scrumify.helpers.ConstantsHelper).PROPERTY_PROJECT_NAME}}"></title>
<link rel="stylesheet" type="text/css" th:href="@{${T(pt.com.scrumify.helpers.ConstantsHelper).SCRIPT_CALENDAR_CSS}}"></link>
</head>
<body>
  <div class="ui main container" th:fragment="page" sec:authorize="hasAuthority(T(pt.com.scrumify.helpers.ConstantsHelper).ROLE_HOLIDAYS_READ)">
    <h2 class="ui header">
      <i th:class="${T(pt.com.scrumify.helpers.ConstantsHelper).ICON_HOLIDAYS}" th:classappend="${T(pt.com.scrumify.helpers.ConstantsHelper).DEFAULT_ENVIRONMENT_COLOR}"></i>
      <span class="content" th:text="#{${T(pt.com.scrumify.helpers.ConstantsHelper).MESSAGE_COMMON_HOLIDAYS}}"></span>
    </h2>
    <br />
    <div th:if="${not #lists.isEmpty(holidays)}">
      <div th:each="holiday : ${holidays}">
        <div class="medium-box" id="${holiday.key}">
          <h3 class="ui header" th:text="${holiday.key}"></h3>
        </div>
        <div>
          <table class="ui table" th:classappend="${T(pt.com.scrumify.helpers.ConstantsHelper).DEFAULT_ENVIRONMENT_COLOR}">
            <thead id="cabecalho">
              <tr>
                <th th:text="#{${T(pt.com.scrumify.helpers.ConstantsHelper).MESSAGE_COMMON_DAY}}"></th>
                <th th:text="#{${T(pt.com.scrumify.helpers.ConstantsHelper).MESSAGE_COMMON_DESCRIPTION}}"></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="holidayYear : ${holiday.value}">
                <td th:text="${#strings.substring(holidayYear.day.date, 0, 11)}"></td>
                <td th:text="${holidayYear.name}"></td>
                <td sec:authorize="hasAuthority(T(pt.com.scrumify.helpers.ConstantsHelper).ROLE_HOLIDAYS_UPDATE)">
                    <i th:classappend="${T(pt.com.scrumify.helpers.ConstantsHelper).DEFAULT_ENVIRONMENT_COLOR}" class="edit icon pointer" th:onclick="'editHoliday(\'' + ${holidayYear.id} + '\');'"></i>
                    <i th:classappend="${T(pt.com.scrumify.helpers.ConstantsHelper).DEFAULT_ENVIRONMENT_COLOR}" class="trash icon pointer" th:onclick="'deleteHoliday(\'' + ${holidayYear.id} + '\');'"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <br /> <br />
      </div>
    </div>
    <br />
    <div th:replace="common/fragments/modal :: modal(medium,'')"></div>
    <div th:replace="common/fragments/modal-confirmation :: modal-confirmation"></div>
    <th:block sec:authorize="hasAuthority(T(pt.com.scrumify.helpers.ConstantsHelper).ROLE_HOLIDAYS_CREATE)" th:replace="common/fragments/form :: actionbuttonsOnClick(icon1 = null,
                                                               icon1text = null,
                                                               icon1url = null,
                                                               icon2 = ${T(pt.com.scrumify.helpers.ConstantsHelper).ICON_NEW},
                                                               icon2text = ${T(pt.com.scrumify.helpers.ConstantsHelper).MESSAGE_COMMON_NEW},
                                                               icon2function = 'createHoliday();'
                                                               )" />
    <th:block th:if="${not #lists.isEmpty(years)}">
      <th:block th:replace="common/fragments/form :: actionbuttonsListing(icon1 = ${T(pt.com.scrumify.helpers.ConstantsHelper).ICON_TIMESHEET},
			                                                             icon1text = ${T(pt.com.scrumify.helpers.ConstantsHelper).MESSAGE_COMMON_GENERATE},
			                                                             icon1url = ${T(pt.com.scrumify.helpers.ConstantsHelper).MAPPING_HOLIDAYS_GENERATE},
			                                                             icon1list = ${years}
			                                                             )" />
    </th:block>
  </div>
  <script th:src="@{${T(pt.com.scrumify.helpers.ConstantsHelper).SCRIPT_CALENDAR_JS}}"></script>
  <script th:src="@{${T(pt.com.scrumify.helpers.ConstantsHelper).SCRIPT_HOLIDAYS_JS}}"></script>
</body>
</html>
